.container {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
body{
  background-color: rgb(168, 168, 168);
}

h1 {
  font-size: 53px;
  margin-bottom: 40px;
  font-family: 'Times New Roman';
  font-weight: 700;
  color: grey;
}

.input-group {
  display: flex;
  margin-bottom: 20px;
}

#new-item {
  flex: 1;
  padding: 10px;
  font-size: 18px;
  outline: none;
  border: none;
  background-color: rgb(204, 204, 204);
}

#send-btn {
  padding: 10px 20px;
  font-size: 18px;
  background-color: grey;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}
#send-btn:hover{
  transform: scale(1.1);
  background-color: black;

}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  font-size: 23px;
  margin-bottom: 10px;
}

li input[type="checkbox"] {
  margin-right: 10px;
}

li.completed label {
  text-decoration: line-through;
  color: #999;
}
